@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css ya kisi specific component ki CSS file */
.birthday-background {
    background-image: url('/bg-imagejpg');
    background-size: cover; /* Image ko cover karne ke liye */
    background-position: center; /* Image ko center mein set karne ke liye */
    height: 100vh; /* Pura viewport height le */
}
